---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

Publications
======

<ol class="bibliography">
{% assign publications = site.publications | where: "status_group", "publication" | sort: "publication_order" %}
{% for post in publications %}
  {% include publication-card.html post=post %}
{% endfor %}
</ol>

Manuscripts
======

<ol class="bibliography manuscript-list">
{% assign manuscripts = site.publications | where: "status_group", "manuscript" | sort: "publication_order" %}
{% for post in manuscripts %}
  {% include publication-card.html post=post %}
{% endfor %}
</ol>
