{% include base_path %}

{% assign post = include.post | default: post %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% assign teaser = post.teaser | default: post.header.teaser %}

<li itemscope itemtype="http://schema.org/ScholarlyArticle">
  <div class="col three">
  <div class="publication-thumb">
    {% if teaser %}
      <img class="col bibone first" src="{% if teaser contains "://" %}{{ teaser }}{% else %}{{ teaser | prepend: "/images/" | prepend: base_path }}{% endif %}" alt="">
    {% endif %}
  </div>

  <div class="col bibtwo last">
    <span class="title" itemprop="headline">{{ title }}</span>
    {% if post.authors %}
      <span class="author">{{ post.authors }}</span>
    {% endif %}
    <span class="periodical">
      {% if post.category == "manuscripts" %}
        {{ post.status | default: post.venue }}
      {% else %}
        <em>{{ post.venue }}</em>{% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}
      {% endif %}
    </span>
    <span class="links">
      [<a href="{{ base_path }}{{ post.url }}">Abs</a>]
      {% if post.paperurl %}[<a href="{{ post.paperurl }}">Webpage</a>]{% endif %}
      {% if post.projecturl and post.projecturl != post.paperurl %}[<a href="{{ post.projecturl }}">Webpage</a>]{% endif %}
    </span>
  </div>
  </div>
</li>
