{% include base_path %}

{% assign post = include.post | default: post %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% assign teaser = post.teaser | default: post.header.teaser %}
{% assign abstract_id = post.url | slugify | prepend: "abs-" %}

<li itemscope itemtype="http://schema.org/ScholarlyArticle">
  <div class="col three">
  <div class="publication-thumb">
    {% if teaser %}
      <img class="col bibone first" src="{% if teaser contains "://" %}{{ teaser }}{% else %}{{ teaser | prepend: "/images/" | prepend: base_path }}{% endif %}" alt="">
    {% endif %}
  </div>

  <div class="col bibtwo last">
    <span class="title" itemprop="headline">{{ title }}</span>
    {% if post.authors %}
      <span class="author">{{ post.authors }}</span>
    {% endif %}
    <span class="periodical">
      {% if post.category == "manuscripts" %}
        {{ post.status | default: post.venue }}
      {% else %}
        <em>{{ post.venue }}</em>{% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}
      {% endif %}
    </span>
    <span class="links">
      [<label class="publication-abstract-link" for="{{ abstract_id }}">Abs</label>]
      {% if post.paperurl %}[<a href="{{ post.paperurl }}">Webpage</a>]{% endif %}
      {% if post.projecturl and post.projecturl != post.paperurl %}[<a href="{{ post.projecturl }}">Webpage</a>]{% endif %}
      {% if post.videourl %}[<a href="{% if post.videourl contains "://" %}{{ post.videourl }}{% else %}{{ post.videourl | prepend: base_path }}{% endif %}">Video</a>]{% endif %}
      {% if post.kittiurl %}[<a href="{{ post.kittiurl }}">KITTI Benchmark</a>]{% endif %}
    </span>
  </div>
  </div>
  <input class="publication-abstract-toggle" type="checkbox" id="{{ abstract_id }}">
  <div class="publication-abstract-modal" aria-hidden="true">
    <label class="publication-abstract-backdrop" for="{{ abstract_id }}"></label>
    <div class="publication-abstract-box" role="dialog" aria-modal="true" aria-labelledby="{{ abstract_id }}-title">
      <label class="publication-abstract-close" for="{{ abstract_id }}">Close</label>
      <h3 id="{{ abstract_id }}-title">{{ title }}</h3>
      {% if post.abstract %}
        <div class="publication-abstract-body">{{ post.abstract | markdownify }}</div>
      {% elsif post.excerpt %}
        <div class="publication-abstract-body">{{ post.excerpt | markdownify }}</div>
      {% else %}
        <div class="publication-abstract-body">{{ post.content | markdownify }}</div>
      {% endif %}
    </div>
  </div>
</li>
