<div class="site-stats" aria-label="Site statistics">
  <h3 class="site-stats__title">Site Info</h3>
  <dl class="site-stats__list">
    <div class="site-stats__row">
      <dt>Updated</dt>
      <dd>{{ site.time | date: "%Y-%m-%d" }}</dd>
    </div>
    <div class="site-stats__row" id="busuanzi_container_page_pv">
      <dt>Page Views</dt>
      <dd><span id="busuanzi_value_page_pv">--</span></dd>
    </div>
    <div class="site-stats__row" id="busuanzi_container_site_pv">
      <dt>Total Views</dt>
      <dd><span id="busuanzi_value_site_pv">--</span></dd>
    </div>
    <div class="site-stats__row" id="busuanzi_container_site_uv">
      <dt>Visitors</dt>
      <dd><span id="busuanzi_value_site_uv">--</span></dd>
    </div>
    <div class="site-stats__row">
      <dt>Visit From</dt>
      <dd id="visitor-source">Checking...</dd>
    </div>
  </dl>
</div>
