<div class="site-stats" aria-label="Site statistics">
  <h3 class="site-stats__title">Site Info</h3>
  <dl class="site-stats__list">
    <div class="site-stats__row">
      <dt>Updated</dt>
      <dd>{{ site.time | date: "%Y-%m-%d" }}</dd>
    </div>
    {% if page.url == "/" or page.url == "/index.html" %}
      <div class="site-stats__row">
        <dt>Total Views</dt>
        <dd><span id="vercount_value_page_pv" data-view-floor="{{ site.total_views_floor | default: 0 }}">Loading</span></dd>
      </div>
    {% endif %}
  </dl>
</div>
